# House Prices
#### Ryan Peralta
#### CS 4661
#### Fall 2019
https://www.kaggle.com/c/house-prices-advanced-regression-techniques/overview

In [49]:
# Importing numpy and pandas and other modules
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing
import matplotlib.pyplot as plt

In [36]:
#Reading the csv downloaded from Kaggle into a dataframe
houses_df = pd.read_csv("House_Prices.csv")

#train_df = pd.read_csv("train.csv")
#train_df.head()
#test_df = pd.read_csv("test.csv")

In [37]:
houses_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500.0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500.0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500.0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000.0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000.0

### Initial run with only 10 selected features
Establish a baseline for the project.
Every model we use after this should have a lower RMSE.

In [78]:
# Creating the Feature Matrix:

# create a python list of feature names that would like to pick from the dataset:
# hand selected features that we thought would give us a decent regression.
feature_cols = ['LotArea','Neighborhood', 'BldgType', 'HouseStyle','YearBuilt', 'FullBath', 'YearRemodAdd', 'Foundation','SaleType', 'SaleCondition']
  #'Neighborhood'    
    #'SaleType',
# Get X from the training data
X = houses_df[feature_cols]
# select the target (last column) from the DataFrame
y = houses_df['SalePrice']
X.head()

#X = pd.to_numeric(X)

,LotArea,Neighborhood,BldgType,HouseStyle,YearBuilt,FullBath,YearRemodAdd,Foundation,SaleType,SaleCondition
0,8450,CollgCr,1Fam,2Story,2003,2,2003,PConc,WD,Normal
1,9600,Veenker,1Fam,1Story,1976,2,1976,CBlock,WD,Normal
2,11250,CollgCr,1Fam,2Story,2001,2,2002,PConc,WD,Normal
3,9550,Crawfor,1Fam,2Story,1915,1,1970,BrkTil,WD,Abnorml
4,14260,NoRidge,1Fam,2Story,2000,2,2000,PConc,WD,Normal

In [82]:
# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 
  
# Encode labels in column 'species'. 
X['Neighborhood']= label_encoder.fit_transform(X['Neighborhood']) 
X['BldgType']= label_encoder.fit_transform(X['BldgType']) 
X['HouseStyle']= label_encoder.fit_transform(X['HouseStyle']) 
X['Foundation']= label_encoder.fit_transform(X['Foundation']) 
X['SaleCondition']= label_encoder.fit_transform(X['SaleCondition']) 
#X['SaleType'].unique() 
X.head()

C:\Users\rpera\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\rpera\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\rpera\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\rpera\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\rpera\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,LotArea,Neighborhood,BldgType,HouseStyle,YearBuilt,FullBath,YearRemodAdd,Foundation,SaleType,SaleCondition
0,8450,5,0,5,2003,2,2003,2,WD,4
1,9600,24,0,2,1976,2,1976,1,WD,4
2,11250,5,0,5,2001,2,2002,2,WD,4
3,9550,6,0,5,1915,1,1970,0,WD,0
4,14260,15,0,5,2000,2,2000,2,WD,4

In [87]:
X['SaleType'] = label_encoder.fit_transform(X['SaleType'].astype(str))
X.head()
#X['SaleType']= label_encoder.fit_transform(X['SaleType'])

C:\Users\rpera\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,LotArea,Neighborhood,BldgType,HouseStyle,YearBuilt,FullBath,YearRemodAdd,Foundation,SaleType,SaleCondition
0,8450,5,0,5,2003,2,2003,2,8,4
1,9600,24,0,2,1976,2,1976,1,8,4
2,11250,5,0,5,2001,2,2002,2,8,4
3,9550,6,0,5,1915,1,1970,0,8,0
4,14260,15,0,5,2000,2,2000,2,8,4

In [88]:
# Randomly splitting the original dataset into training set and testing set
# The function"train_test_split" from "sklearn.cross_validation" library performs random splitting.
# "test_size=0.3" means that pick 30% of data samples for testing set, and the rest (70%) for training set.

# Splitting the dataset into testing and training:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=2)

#Since the dataframes are already split, we can just read the features and labels from the other df without splitting.
#X_test = test_df[feature_cols]
#y_test = test_df['SalePrice']

In [89]:
# In the following line, "my_linreg" is instantiated as an "object" of LinearRegression "class". 

linear_reg_houses = LinearRegression()
#LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False

In [90]:
# fitting the model to the training data:
linear_reg_houses.fit(X_train, y_train)


#NEED TO USE ONE HOT ENCODING TO RESOLVE THIS ISSUE -> ValueError: could not convert string to float: '1Fam'

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [91]:
# printing Theta0 using attribute "intercept_":
print(linear_reg_houses.intercept_)

# printing [Theta1, Theta2, Theta3] using attribute "coef_":
print(linear_reg_houses.coef_)

-1070994.724813176
[ 1.58850512e+00  7.62004931e+02 -6.26278101e+03  8.25112801e+02
  3.31556307e+02  2.67069687e+04  2.72103173e+02  5.09823459e+02
 -2.47888906e+03  2.22912976e+03]

In [93]:
# make predictions on the testing set
y_prediction = linear_reg_houses.predict(X_test)

#print(y_prediction)

In [94]:
# Calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

# Using numpy sqrt function to take the square root and calculate "Root Mean Square Error" (RMSE)
rmse = np.sqrt(mse)

print(rmse)

49367.798232765104